/* Resect bordi e parti comuni */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

/* Header in movimento */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.top-bar .move {
    width: 100%;
}

.top-bar.move {
    background-color: rgb(255, 93, 1);
}

.top-bar .content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .pick-type,
.menu .client-profile {
    justify-content: center;
    display: flex;
}

.logo img {
    height: 60px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    display: inline-block;
}



/* Main con shopping */

.container {
    width: 1300px;
    margin: 0 auto 50px auto;
    text-align: center;
    padding-top: 100px;
}

.item {
    width: 400px;
    position: relative;
    display: inline-block;
    border: 15px;
}

.item-image > img {
    width: 100%
}

.item-image > .discount {
    position: absolute;
    width: 40px;
    height: 20px;
    bottom: 20px;
    left: 0;
    background-color: red;
}

.item-image > .label {
    position: absolute;
    width: 100px;
    height: 20px;
    bottom: 20px;
    left: 40px;
    background-color: greenyellow;
}

.item-image > .no-discount {
    position: absolute;
    width: 100px;
    height: 20px;
    bottom: 20px;
    left: 0;
    background-color: greenyellow;
}

.heart {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: white;
}

.item-image:hover .heart {
    display: block;
    color: red;
}

/* Footer con informazioni */

.bottom-bar.stay {
    background-color: rgb(87, 82, 82);
    color: white;
}

.bottom-bar .content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    padding: 20px 0 20px 0;
}
