/* Resect bordi e parti comuni */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li{
    list-style: none;
}
/* Header in movimento */

/* header{
    position: fixed;
    z-index: 1;
}
*/

.top-bar.move{
    background-color: rgb(255, 93, 1);
}

.top-bar .content{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .pick-type,
.menu .client-profile{
    justify-content: center;
    display: flex;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    display: inline-block;
}

/* Main con shopping */

#container{
    width: 1000px;
    margin: 100px auto;
    text-align: center;
}

.item{
    width: 300px;
    position: relative;
    display: inline-block;
}

.item > img{
    width: 100%
}

.item > .discount{
    position: absolute;
    width: 40px;
    height: 20px;
    bottom: 10px;
    left: 0;
    background-color: red;
}

.item > .label{
    position: absolute;
    width: 100px;
    height: 20px;
    bottom: 10px;
    left: 40px;
    background-color: greenyellow;
}
.item > #no-discount{
    position: absolute;
    width: 100px;
    height: 20px;
    bottom: 10px;
    left: 0;
    background-color: greenyellow;
}


.heart{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: none;
    background-color: white;
}

.item:hover .heart{
    display: block;
}


/* Footer con informazioni */

.bottom-bar.stay{
    background-color: lightgray;
}

.bottom-bar .content{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


